<div class="dropdown">
    <button (click)="toggle = !toggle" class="btn btn-sm btn-primary dropdown-toggle" type="button">
        ⚙️ Settings
    </button>
    <ul style="right: 0;" [class.show]="toggle" class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" routerLink="/profile">👤 Profile</a></li>
        <li><a class="dropdown-item" href="#">🔗 Links</a></li>
        <li><a class="dropdown-item" routerLink="/links">👀 View as guest</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><div (click)="authenticationService.logOut()" style="cursor: pointer;" class="dropdown-item">🚪 Sign out</div></li>
    </ul>
</div>

<!-- backdrop -->
<div (click)="toggle = !toggle" [class.d-none]="!toggle" style="z-index: 1; left: 0; top: 0;" class="position-fixed bg-red w-100 h-100"></div>