<div class="container py-3">
    <ng-container *ngIf="user$ | async as user">
    <div class="row">
        <div [formGroup]="linksFormGroup" class="col-md-8">
            <div formArrayName="links">
                <h1>Links</h1>
                <div *ngFor="let group of links.controls; let i=index">
                    <div [formGroupName]="i" class="row gx-1 mb-3">
                        <div class="col-2">
                            <div class="form-floating">
                                <input type="text" id="icon" placeholder="Link icon" class="form-control" formControlName="linkIcon">
                                <label for="icon">Icon</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating">
                                <input type="text" id="linkTitle" placeholder="Link icon" class="form-control" formControlName="linkTitle">
                                <label for="linkTitle">Link Title</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" id="link" placeholder="Actual link" class="form-control" formControlName="link">
                                <label for="icon">Link</label>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div style="gap: 15px;" class="card card-body d-flex flex-column align-items-center">
                <div class="border bg-light rounded-circle d-flex align-items-center font-weight-bold justify-content-center" style="width: 100px; height: 100px; font-size: 48px;">{{ user.firstName.slice(0,1) }}</div>
                {{ '@' + user.userName }}
                <div class="text-secondary">{{ user.about }}</div>
                <a [href]="link.link" target="_blank" class="card w-100 mb-3" *ngFor="let link of user.links">
                    <div class="card-body d-flex justify-content-center">
                        {{ link.linkTitle }}
                    </div>
                </a>
            </div>
        </div>
    </div>
    </ng-container>
</div>
