<p>sign-up-page works!</p>
<form [formGroup]="form">
    <div>
        <input type="text" formControlName="firstName" placeholder="first name">
    </div>
    
    <div>
        <input type="text" formControlName="lastName" placeholder="last name">
    </div>
    
    <div>
        <input type="type" formControlName="email" placeholder="email">
    </div>
    <div>
        <input type="password" formControlName="password" placeholder="password">
    </div>
    <button (click)="signUp()">sign up</button>
</form>