<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <div>
                <a routerLink="/" class="navbar-brand mb-0 h1"><b>mipov.net</b></a>
                <a routerLink="/about" class="px-2">About</a>
                <a routerLink="/help" class="px-2">Help</a>
                <a routerLink="/privacy-policy" class="px-2">Privacy policy</a>
            </div>
            <ng-container *ngIf="authenticationService.isLoggedIn$ | async; else signUpButton">
                <div (click)="authenticationService.logOut()" class="btn btn-sm btn-outline-danger px-2">Sign out</div>
            </ng-container>
            <ng-template #signUpButton>
                <div class="d-flex">
                    <a routerLink="/login" class="btn btn-sm btn-primary">Log in</a>
                    <a routerLink="/" class="btn btn-sm btn-outline-success ms-1">Sign up</a>
                </div>
            </ng-template>
        </div>
    </nav>
</header>

<div class="content">
    <router-outlet></router-outlet>
</div>

<footer class="bg-body-tertiary py-3">
    <div class="container text-center d-flex justify-content-center">
        <a class="px-3" routerLink="/">Main</a>
        <a class="px-3" routerLink="/sign-up">Sign up</a>
        <a class="px-3" routerLink="/privacy-policy">Privacy policy</a>
    </div>
    <div class="text-center mt-3">Created by <a target="_blank" href="https://github.com/valeri879">Val Do</a> with ❤️</div>
</footer>