<div class="container">
    <div class="row">
        <div class="col-md-4 p-3">
            <h1>Login</h1>
            <p>for authorization please enter your email and password</p>
            <form [formGroup]="form">
                <div class="mb-3">
                    <label for="email">Email:</label>
                    <div class="input-group">
                        <span class="input-group-text">✉️</span>
                        <input [class.is-invalid]="error" [class.is-valid]="success" formControlName="email" class="form-control" type="email" id="email">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="password">Password:</label>
                    <div class="input-group">
                        <span class="input-group-text">🔒</span>
                        <input [class.is-invalid]="error" [class.is-valid]="success" formControlName="password" class="form-control" type="{{ !show ? 'password' : 'text' }}" id="password">
                    </div>
                </div>
                <div class="form-check mb-3">
                    <input (change)="show = !show" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label text-primary user-select-none" for="flexCheckDefault"><u>{{ !show ? 'Show' : 'Hide'}} password</u></label>
                </div>
                <!-- error -->
                <div *ngIf="error" class="alert alert-danger" role="alert">{{ error.message }}</div>

                <button [disabled]="form.invalid || success" (click)="login()" class="btn btn-primary w-100">log in</button>
                <div class="text-center">OR</div>
                <a routerLink="/sign-up" class="btn btn-outline-primary w-100">sign up</a>
            </form>
        </div>
        <div class="col-md-8">
            <p>
                Maximize your social media impact with our platform! Whether you're a freelancer, influencer, or business owner, easily share all your social accounts to boost your visibility and grow your audience. Get started today!
            </p>
        </div>
    </div>
</div>